.title {
    color: white;
    font-size: min(15vw, 128px);
    font-family: Aclonica;
    margin: 0;
}
.subtitle {
    color: white;
    font-size: min(10vw, 64px);
    font-family: Aclonica;
    transform: translateY(-0.27em);
    margin: 0;
}