.sections {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
.sections > * {
    flex: 1;
}
.img {
    position: absolute;
    right: 10%;
    top: 0;
    z-index: -10;
}
.title {
    color: white;
    font-size: 128px;
    font-family: Aclonica;
}
.container {
    display: flex;
}
 @media (max-width: 1250px) {
    .sections {
        flex-direction: column-reverse;
    }
    .container {
        flex-direction: column;
    }
    .sections {
        padding-bottom: 60px;
    }
 }